Package: xfce4-xapp-corner-bar
Source: xapp-corner-bar
Version: 1.0.0
Architecture: amd64
Maintainer: Clement Lefebvre <root@linuxmint.com>
Installed-Size: 40
Depends: xfce4-panel (>= 4.12), libc6 (>= 2.4), libglib2.0-0 (>= 2.44), libgtk-3-0 (>= 3.16.2), libwnck-3-0 (>= 2.91.6), libxfce4panel-2.0-4 (>= 4.11.0)
Section: x11
Priority: optional
Description: CornerBar panel applet for MATE
